{% extends "proveedor/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <!--<img class="rounded-circle account-img" src="userimage.jpg">-->
        <div class="media-body">
          <h1>{{ user.first_name }} {{ user.last_name }}</h1>
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
        <form method = "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Información de Perfil</legend>
                {{ u_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Actualizar</button>
            </div>
        </form>
        <form method="GET" action="{% url 'password_reset' %}">
            <button class="btn btn-link" type="submit">
                Cambiar Contraseña
            </button>
        </form>
    </div>
{% endblock content %}
