{% extends "proveedor/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
          <h2>¡Se han registrado el comentario y ratings exitosamente!</h2>
      </div>
    </article>
    <div class="row container ">
        <div class="class-md-8 content-section" >
            <form method="GET" action="{% url 'proveedor-detail' proveedor%}">
                <button class="btn btn-success" type="submit">
                    Regresar a Proveedor
                </button>
            </form>
        </div>
    </div>
{% endblock content %}