{% extends "proveedor/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.nombre }}</a>
        </div>
        <h2 class="article-title">{{ object.nombre }}</h2>
          <p class="article-content">Provincia: {{ object.provincia.nombre }}</p>
        <p class="article-content">Telefono: {{ object.telefono }}</p>
          <p class="article-content">Correo Electrónico: {{ object.correo }}</p>
      </div>
    </article>
    <div class="row container ">
        <div class="class-md-8 content-section" >
            <form method="GET" action="{% url 'reportes' id=object.id %}">
                <button class="btn btn-warning" type="submit">
                    Reportar Proveedor
                </button>
            </form>
        </div>
        <div class="class-md-8 content-section" >
            <form method="GET" action="{% url 'reportes' id=object.id %}">
                <button class="btn btn-info" type="submit">
                    Agregar a Favoritos!
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
