{% extends "proveedor/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{proveedor.nombre}}</a>
        </div>
        <h2 class="article-title">{{proveedor.nombre}}</h2>
          <p class="article-content">Provincia: {{ proveedor.provincia.nombre }}</p>
        <p class="article-content">Telefono: {{ proveedor.telefono }}</p>
          <p class="article-content">Correo Electrónico: {{ proveedor.correo }}</p>
      </div>
    </article>
    <div class="row container ">
        <div class="class-md-8 content-section" >
            {% if reporteProveedor == "sinReportar" %}
               <form method="GET" action="{% url 'reportes' id=proveedor.id %}">
                    <button class="btn btn-warning" type="submit">
                        Reportar Proveedor
                    </button>
                </form>
            {% else %}

                    <button class="btn btn-indo" type="submit">
                        Proveedor Reportado
                    </button>
            {% endif %}
        </div>
        <div class="class-md-8 content-section" >
            {% if agregadoFavorito == "sinFavorito" %}
                <form method="GET" action="{% url 'agregadoFavorito' id=proveedor.id %}">
                    <button class="btn btn-primary" type="submit">
                        Agregar a Favoritos!
                    </button>
                </form>
            {% else %}
                <form method="GET" action="{% url 'eliminadoFavorito' id=proveedor.id %}">
                    <button class="btn btn-primary" type="submit">
                        Quitar de Favoritos!
                    </button>
                </form>
            {% endif %}
        </div>
        <div class="class-md-8 content-section" >
            <form method="GET" action="{% url 'envioCorreo' id=proveedor.id %}">
                <button class="btn btn-info" type="submit">
                    Recibir Contacto Al Correo
                </button>
            </form>
        </div>
    </div>

{% endblock content %}

